.container {
  max-width: 608px;
  height: 100vh;
  padding: 0 4%;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
}
.todo {
  color: #333;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.62px;
  padding: 32px 0px 58px 0px;
  font-family: Raleway,sans-serif;
}
.navigation {
  display: flex;
  justify-content: space-between;
 
}
.container .navigation {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 16px;
}
.navigation a {
  text-decoration: none;
  font-size: 14px;
  color:#333;
  font-family: Montserrat,sans-serif;
}
